<!-- Estructura para el fondo de la página -->
<div class="fondo">

  <!-- Borde debajo del título -->
  <div class="borde">

    <!-- Título -->
    <h1 class="titulo">Mi perfil</h1>
  </div>

  <!-- Bloque para los datos del usuario -->
  <div class="bloque-datos">

    <!-- Mensajes de carga y error -->
    <p *ngIf="cargando">cargando...</p>
    <p *ngIf="error">{{ error }}</p>

    <!-- Elementos visibles en la página al cargar -->
    <div *ngIf="!cargando && datos" class="datos-visibles">

      <!-- Datos del usuario -->
      <div class="datos">
        <p class="info"><span class="bold">Correo:</span> <br /> {{ datos.email }}</p>
        <p class="info"><span class="bold">Usuario:</span> <br /> @ {{ datos.usuario }}</p>
        <p class="info"><span class="bold">Número:</span> <br /> +56 {{ datos.numero }}</p>
        <p class="info"><span class="bold">Sector:</span> <br /> {{ datos.sector }}</p>
      </div>
      

      <!-- Botones para cerrar sesión y volver al mapa -->
      <div class="botones">
        <button type="button" class="btn" (click)="cerrarsesion()">cerrar sesión</button>
        <a routerLink="/mapa"><button type="button" class="btn">volver al mapa</button></a>
      </div>
    </div>
  </div>
</div>
