* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo {
    background-color: #1b1f2b;
    min-height: 100vh;
}

header {
    padding: 12em 6.25em;
    color: #ffffff;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 230px;
    background-image: url('https://i.postimg.cc/BQwbtWsZ/foto-1-Picsart-Ai-Image-Enhancer.png');
    background-size: cover;
    background-position: center;
}

nav {
    text-align: right;
    font-size: 20px;
    margin-top: -160px;
    margin-bottom: 40px;
    a {
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        transition: color 0.5s ease;
        &:hover {
            color: #1b1f2b;
        }
    }
}  

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 70px;
    color: white;
    position: relative;
    text-align: center;
    padding: 10px;
}
  
.contactito {
    padding: 20px;
    font-size: 30px;
}

main {
    background-color: #1b1f2b;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloqueredes {
    display: inline-block;
    margin: 20px;
    background-color: #6da67a;
    color: #ffffff;
    padding: 10px;
    font-size: 24px;
    border-radius: 20px;
    max-width: fit-content; 
    gap: 8px;  
    text-decoration: none;
    transition: all 0.5s ease;
    display: flex;
    align-items: center;

    &:hover {
        background-color: #497253;   
        color: #1b1f2b;   
    }

    .icono {
        width: 50px;
    }
}