header {
    padding: 100px;
    color: #ffffff;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 230px;
  }
  
.header-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
.header-text {
    font-size: 70px;
    color: white;
    position: relative;
    text-align: center;
    padding: 10%;
}
  
nav {
    text-align: right;
    font-size: 20px;
    margin-top: -80px;
    a {
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        transition: color 0.5s ease;
        &:hover {
            color: #1b1f2b;
        }
    }
}

.contactito {
    font-size: 15px;
    margin-top: -100px;
    
}

main {
    background-color: #1b1f2b;
    padding: 20px;
    color: white;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloqueredes {
    margin: 5%;
    background-color: #6da67a;
    padding: 10px;
    font-size: 50px;
    transition: color 0.5s ease;
    border-radius: 30px;  
    &:hover {
        background-color: #497253;      
    }
    a {
        font-size: 50px;
        color: #ffffff;
        text-decoration: none;
        transition: color 0.5s ease;
        display: flex;
        align-items: center;
        gap: 8px;      
        &:hover{
            color: #1b1f2b;
            
        }
    }
}

.bloqueredes a .icono {
    height: 1.5em;
    width: auto;
}