/*Estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serifng ;
}

/*Estilos para el cuerpo de la página*/
.fondo-general {
    main {
        padding: 20px;
        color: white;
        display: flex;
        justify-content: center;

        /* Contenedor que centra el cuerpo */
        .contenedor {
            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 50vw;

            /* Estilos para ambos bloques */
            .bloque {
                display: flex;
                flex-direction: column;
                align-items:flex-start;
                width: 100%;
            }

            /* Bloque del formulario */
            .formulario {
                display: flex;
                flex-direction: column;
                gap: 20px;

                /* Elementos formulario */
                form {
                    width: 100%;
                }
                
                label {
                    font-size: 1.1em;
                    font-weight: 300;
                    color: #ffffffe3;
                }

                input, textarea {
                    font-family: 'Inter', 'sans-serif';
                    max-width: 100%;
                    min-width: 100%;
                    max-height: 200px;
                    min-height: 40px;
                    width: 100%;
                    margin: 10px 0;
                    padding: 12px;
                    background-color: #ffffffe3;
                    border: none;
                }

                /* Botón de enviar */
                button {
                    margin-top: 20px;
                    border: none;
                    padding: 14px;
                    border-radius: 3px;
                    font-size: 1rem;
                    cursor: pointer;
                    background-color: var(--verde-manu);
                    color: #ffffff;
                    transition: .3s ease all;
                    font-weight: 500;

                    &:hover {
                        background-color: var(--verde-manu-hover);
                    }
                }

                /* Contenedor primera fila del form */
                .fila-top {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 10px;
                
                    .seccion-formulario{
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            /* Bloque de botones redes sociales */
            .redes {

                /* Contenedor para los botones */
                .botones {
                    display: flex;
                    gap: 20px;
                    margin-top: 20px;

                    /* Botones */
                    .btn-redes {
                        color: #ffffff;
                        border: 2px solid #fff;
                        border-radius: 5px;
                        max-width: fit-content; 
                        font-size: 1.2rem;
                        padding: 6px 20px;
                        gap: 8px;  
                        text-decoration: none;
                        transition: all 0.3s ease;
                        display: flex;
                        align-items: center;

                        &:hover {  /* Efecto al pasar el mouse en los bloques de redes sociales */
                            transform: translateY(3px);
                        }

                        .icono {
                            display: flex;
                            align-items: center;
                            width: 20px;
                            svg {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*Estilos para los bloques de redes sociales*/
.bloqueredes {
    display: inline-block;
    margin: 20px;
    background-color: var(--verde-manu);
    color: #ffffff;
    padding: 10px;
    font-size: 30px;
    border-radius: 20px;
    max-width: fit-content; 
    gap: 8px;  
    text-decoration: none;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;

    &:hover {  /* Efecto al pasar el mouse en los bloques de redes sociales */
        background-color: var(--verde-manu-hover);   
        color: var(--azul-oscuro-manu);   
    }

    .icono {
        width: 50px;
    }

    @media screen and (max-width: 535px) {
        & {
            font-size: 20px;
            padding: 8px;
            .icono {
                width: 40px;
            }
        }
    }
}

/*Media Queries para adaptabilidad de los botones de las redes*/

@media screen and (max-width: 768px) {  /*Estilo pantallas Medianas */
    .fondo-general main .contenedor .redes .botones {
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 480px) { /*Estilo pantallas Pequeñas */
    .fondo-general main .contenedor .redes .botones {
        flex-direction: column;
        gap: 15px;
    }
}

/*Media Queries para adaptabilidad de ingreso de datos*/

@media screen and (max-width: 768px) {
    .fondo-general main .contenedor .formulario .fila-top {
        grid-template-columns: 1fr;
    }
}