* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo {
    background-color: #1b1f2b;
    height: 100%;
}

header {
    padding: 13em 6.25em;
    color: #ffffff;
    text-align: center;
    position: relative;
    height: 230px;
    background-image: url('https://i.postimg.cc/BQwbtWsZ/foto-1-Picsart-Ai-Image-Enhancer.png');
    background-position: center;
    background-size: cover;
} 

nav {
    text-align: right;
    font-size: 20px;
    margin-top: -160px;
    margin-bottom: 40px;
    a {
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        transition: color 0.5s ease;
        &:hover {
            color: #1b1f2b;
        }
    }
}

.header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 80px;
    color: white;
    position: relative;
    text-align: center;  
    padding: 10px;
}

.subtitulito {
    font-size: 30px;
}

main {
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

