
.fondo {
    height: 100vh;
    padding: 1vh;
    background-color: #1B1F2B;
}

header {
    background-color: #6DA67A;
}

.menu-nav-mapa {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7em;
    a {
        text-align: center;
        background-color: #1B1F2B;
        color: #FFFFFF;
        text-decoration: none;
        font-size: 1.4em;
        display: block;
        padding: 1em;
        width: 10em;
        /* box-shadow: 1px 1px 8px #486e51; NOTA: revisar más tarde*/
        transition: ease all 0.3s;
        &:hover {
            background-color: #292e3d;
        }
    }
}

.cuerpo {
    /*editar al añadir mapa*/
    display: block;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8em;
    font-weight: bold;
}

.btn-menu-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
    height: 10em;
    width: 10em;
    border: none;
    background-color: #6DA67A;
    cursor: pointer;
    transition: ease all 0.3s;
    border-radius: 10em;
    box-shadow: 1px 1px 10px #acacac; /*cambiar a azul después de agregar mapa*/
    color: #fff;
    
    &:hover {
        background-color: #4a7c56;
    }

}

/* ESTILOS MAPA */

.map {
    width: 100%;
    height: 500px;
}

.map-container {
    display: block;
}
