* {
    font-family: 'Inter', sans-serif;
}

/* Estilos fondo de la página */
.fondo {
  height: 100vh;
  padding: 1vh;
  background-color: var(--azul-oscuro-manu);
  box-sizing: border-box;
  overflow: hidden;

  /* Header */
  header {
    z-index: 999;
    background-color: var(--azul-oscuro-manu);
    position: relative;
    position: sticky;
    top: 0;
    height: fit-content;

    /* Menú de navegación */
    .menu-nav-mapa {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: fit-content;
      padding: 1em;
      z-index: 999;
      gap: 5px;

      /* Botones */
      a {
        text-align: center;
        background-color: var(--verde-manu);
        color: #FFFFFF;
        text-decoration: none;
        font-size: clamp(0.7em, 2vw, 1.3em);
        display: block;
        padding: 1em;
        width: clamp(8em, 15vw, 15em);
        transition: ease all 0.3s;
        &:hover {
          background-color: var(--verde-manu-hover);
          cursor: pointer;
        }
      }

      /* Responsividad menú de navegación */
      @media screen and (max-width: 460px){
        & {
          font-size: 0.9em;
        }
        a {
          padding: 1em clamp(0em, 0.6vw, 0.6em);
        }
      }
    }
  }

  /* Menú desplegable de filtros */
  .filtros-dropdown {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--azul-oscuro-manu);
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(255, 255, 255, 0.418);
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: clamp(6px, 1vw, 12px);;
    max-width: clamp(150px, 35vw, 500px);

    /* Elementos del menú */
    .campo-filtro {
      display: flex;
      flex-direction: column;
      gap: clamp(6px, 1vw, 8px);
      width: clamp(120px, 15vw, 200px);
    }

    label {
      color: rgba(255, 255, 255, 0.897);
      font-weight: 600;
      font-size: clamp(0.7em, 1.2vw, 1.2em);
    }

    input,
    select {
      padding: clamp(2px, 0.8vw, 10px);
      font-size: clamp(0.4em, 1.2vw, 1em);
      border-radius: 8px;
      border: 1px solid #ccccccce;
      background-color: rgba(255, 255, 255, 0.897);
      color: var(--azul-oscuro-manu);
    }

    .checkbox {
      grid-column: span 2;
      display: flex;
      align-items: center;
      gap: 8px;
    }

    option {
      background-color: rgba(209, 209, 209, 0.712);
      color: var(--verde-manu);
    }

    /* Botón para limpiar filtros */
    .btn-limpiar {
      grid-column: span 2;
      padding: clamp(6px, 0.8vw, 10px);
      font-size: clamp(0.6em, 1vw, 1em);
      border-radius: 10px;
      border: none;
      background: var(--verde-manu);
      color: white;
      font-weight: bold;
      cursor: pointer;
      transition: ease all 0.3s;
      &:hover {
        background: var(--verde-manu-hover);
      }
    }

    @media screen and (max-width: 460px){
      & {
        top: 70px;
        max-width: 90vw;
        grid-template-columns: 1fr;
      }
      
    }
  }

  /* Cuerpo del componente */
  .cuerpo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden !important;
    display: flex;
    justify-content: center;

    /* Mapa */
    #map {
      width: 100%;
      height: 100%;
      min-height: 100%;
      overflow: hidden;
      z-index: 900;
    }

    /* Elimina el triángulo inferior del menú del animal */
    ::ng-deep .leaflet-popup-tip-container {
        display: none !important;
    }

    /* Elimina sombras o bordes extraños que Leaflet pone al contenedor */
    ::ng-deep .leaflet-popup-content-wrapper {
        background: transparent !important;
        box-shadow: none !important;
        padding: 0 !important;
    }

    /* Elimina el botón 'X' predeterminado de Leaflet */
    ::ng-deep .leaflet-popup-close-button {
        display: none !important;
    }

    /* Botón flotante para abrir popup de crear animal */
    .btn-menu-botones {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50%;
      bottom: 20vh;
      transform: translateX(-50%);
      height: clamp(6em, 20vw, 8em);
      width: clamp(6em, 20vw, 8em);
      border: none;
      background-color: var(--verde-manu);
      cursor: pointer;
      transition: ease all 0.3s;
      border-radius: 10em;
      box-shadow: 1px 1px 10px #acacac;
      color: #fff;
      z-index: 999;

      &:hover {
        background-color: var(--verde-manu-hover);
      }

      /* Texto "+" del botón */
      .boton {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: clamp(4em, 20vw, 8em);
        font-weight: bold;
      }
    }
  }
}
