.fondo {
    height: 100vh;
    padding: 1vh;
    background-color: #1B1F2B;
    box-sizing: border-box;
    overflow: hidden;
}

header {
    z-index: 999;
    background-color: #6DA67A;
    position: relative;
    position: sticky;
    top: 0;
}

.menu-nav-mapa {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7em;
  z-index: 999;
  a {
    text-align: center;
    background-color: #1B1F2B;
    color: #FFFFFF;
    text-decoration: none;
    font-size: clamp(1em, 3vw, 1.4em);
    display: block;
    padding: 1em;
    width: 10em;
    transition: ease all 0.3s;
    &:hover {
      background-color: #292e3d;
    }
  }
  @media screen and (max-width: 460px){
    & {
        font-size: 0.9em;
    }
    a {
      padding: 1em clamp(0em, 0.6vw, 0.6em);
    }
  }
}

.cuerpo {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
}

#map {
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  z-index: 900;
}

/* estilos botón menú */

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(4em, 20vw, 8em);
    font-weight: bold;
}

.btn-menu-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 20vh;
  transform: translateX(-50%);
  height: clamp(6em, 20vw, 8em);
  width: clamp(6em, 20vw, 8em);
  border: none;
  background-color: #6DA67A;
  cursor: pointer;
  transition: ease all 0.3s;
  border-radius: 10em;
  box-shadow: 1px 1px 10px #acacac; /*cambiar a azul después de agregar mapa*/
  color: #fff;
  z-index: 999;
  &:hover {
    background-color: #4a7c56;
  }
}

/* ESTILOS MAPA */

#map {
  
  z-index: 900;
  overflow: hidden;
}

/* estilos iconos de animales */
  
.icono {
  position: absolute;
  z-index: 900;
}