.fondo {
    height: 100vh;
    background-color: #1B1F2B;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}

.titulo {
    color: #fff;
    font-size: 3em;
}

.borde {
    border-bottom: 2px solid white;
}

.bloque-registro {
    width: 50vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
}

.formulario {
    color: #fff;
    display: flex;
    flex-direction: column;
    input {
        padding: 1.5em;
        width: 100%;
    }
    label {
        margin: 1em;
        font-size: 1.3em;
        font-weight: bold;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6da67a;
    color: #fff;
    margin-top: 30px;
    padding: 20px;
    font-size: 1.8em;
    transition: all 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 100px;
    &:hover {
        background-color: #497253;  
        color: gray;    
    }
    
}

.botones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    a {
        text-decoration: none;

    }
}