<div class="fondo">
      <h1 class="titulo">Recuperar Contraseña</h1>
      <p class="bajotitulo">Ingresa tu correo y te enviaremos un enlace.</p>
      <div class="borde"></div>

    <form class="formulario">
      <input
        type="email"
        [(ngModel)]="correo"
        name="correo"
        placeholder="Escriba su correo electrónico aquí"
        autocomplete="email"
      />
    </form>

    <button class="btn" (click)="enviar()" [disabled]="cargando">
      {{ cargando ? 'ENVIANDO...' : 'Enviar' }}
    </button>

    <p *ngIf="mensaje" class="ok">{{ mensaje }}</p>
    <p *ngIf="error" class="err">{{ error }}</p>

    <a class="btn" routerLink="/iniciar-sesion">Volver a Inicio de Sesión</a>
</div>
