<div class="fondo">
  <div class="bloque-titulo">
    <div class="borde">
      <h1 class="titulo">Ingresa un nuevo animal</h1>
    </div>

    <div class="letra-chica">
      <p>
        Esta información ayuda a las Fundaciones de Rescate animal
        a conocer al animal antes de rescatarlo.
      </p>
      <p>* Puedes dejar campos vacíos en caso de desconocerlos</p>
    </div>
  </div>

  <div class="bloque-registro">
    <form class="formulario" (submit)="onIngresar($event)">
      <label for="name">Nombre del animal:</label>
      <input type="text" placeholder="Desconocido" id="name" name="name" maxlength="30" minlength="2">

      <label for="edad">Edad aproximada:</label>
      <input type="number" name="edad" id="edad" placeholder="???" max="30" min="0">

      <label for="personalidad">Personalidad:</label>
      <select name="personalidad" id="personalidad">
        <option value="Desconocido" selected>Se desconoce</option>
        <option value="Dócil">Dócil / Amable</option>
        <option value="Agresivo">Agresivo</option>
        <option value="Temeroso">Temeroso / Con miedo</option>
      </select>

      <label for="estado">Estado de salud:</label>
      <select name="estado" id="estado" [(ngModel)]="estadoSeleccionado">
        <option value="Desconocido" selected>Se desconoce</option>
        <option value="Saludable">Saludable</option>
        <option value="Signos de Enfermedades/Lesiones">Signos de Enfermedades/Lesiones</option>
      </select>

      <div *ngIf="estadoSeleccionado === 'Signos de Enfermedades/Lesiones'" class="lesiones">
        <label for="lesiones">Presenta:</label>
        <input type="text" name="lesiones">
      </div>

      <label>Foto del animal:</label>
      <label for="ingreso-imagen" class="seleccionar-img">Seleccionar imagen</label>
      <input id="ingreso-imagen" class="input-img" type="file" accept=".png, .jpg, .jpeg .heic" (change)="onFotoSeleccionada($event)" />

      <!-- Preview de la foto -->
      <div class="imagen" *ngIf="imagenUrl">
        <img
          [src]="imagenUrl"
          alt="Imagen seleccionada"
        />
      </div>

      <div class="botones">
        <button type="submit" class="btn">Ingresar</button>
        <button type="button" class="btn" (click)="onCerrar()">Cerrar</button>
      </div>
    </form>
  </div>
</div>
