/* Backdrop oscuro que cubre todo el mapa */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1999;
  cursor: pointer;
}

/* Estilos fondo y tamaño del componente */
.fondo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw;
  max-width: 1800px;
  max-height: 85vh;
  background-color: #1B1F2B;
  z-index: 2000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 10px rgba(169, 169, 172, 0.667);
  border-radius: 16px;
  padding: 1.5em;
  gap: 2em;

  /* Bloque título y subtítulo del componente */
  .bloque-titulo {
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
    width: 50%;
    max-width: 700px;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    /* Borde inferior del título */
    .borde {
      border-bottom: 2px solid white;

      /* Título del componente */
      .titulo {
        color: #fff;
        font-size: 2em;
      }
    }

    /* Subtítulo */
    .letra-chica {
      color: #fff;
      font-size: 1.1em;
      font-weight: 500;
      margin-bottom: 1em;
      text-align: center;
      width: 80%;
    }
  }

  /* Bloque formulario del componente */
  .bloque-registro {
    width: 50%;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-color: #6da67a transparent;
    scrollbar-width: thin;
    scrollbar-gutter: stable;

    /* Estilos del formulario */
    .formulario {
      color: #fff;
      display: flex;
      flex-direction: column;

      /* Elementos del formulario (Input, label, select)*/
      input {
        padding: 1em;
        width: 80%;
        font-size: 0.7em;
      }

      label {
        margin: 1em;
        font-size: 1.1em;
        font-weight: bold;
      }

      select {
        padding: 1em;
        width: 88%;
        font-size: 0.7em;
      }

      /* Contenedor de label e input de lesiones */
      .lesiones {
        width: 100%;
        display: flex;
        flex-direction: column;

        input {
          padding: 1em;
          width: 80%;
          font-size: 0.7em;
        }
      }

      /* Botón (label) de selección de imagen para ingresar */
      .seleccionar-img {
        display: inline-block;
        padding: 1em;
        color: #fff;
        font-weight: 700;
        border-radius: 5px;
        cursor: pointer;
        border: 2px solid #6da67a;
        width: fit-content;
        margin: 0 !important;
        transition: all 0.3s ease;
        font-size: 1em;

        &:hover {
          border-color: #497253;
          background-color: #497253;
          color: #e2e2e2;
        }
      }
      
      /* Input selector de imagen predeterminado oculto */
      .input-img {
        display: none;
      }

      /* Contenedor de la imagen ingresada por el usuario */
      .imagen {
        height: 100%;
        width: 80%;
        display: flex;
        justify-content: center;
        padding-top: 1em;

        img {
          width: 100%;
          height: auto;
          object-fit: fill;
        }
      }

      /* Contenedor de los botones */
      .botones {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-bottom: 2em;

        /* Estilos botones */
        .btn {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #6da67a;
          color: #fff;
          margin-top: 30px;
          padding: 24px;
          font-size: 1.1em;
          transition: all 0.3s ease;
          border-radius: 10px;
          cursor: pointer;
          border: none;
          width: 100px;
          height: 60px;

          &:hover {
            background-color: #497253;
            color: gray;
          }
        }
      }
    }
  }

  /* Estilos responsivos medida escritorio grande */
  @media screen and (min-width: 1440px) {

    /* Responsividad fondo */
    & {

      /* Responsividad bloque Título y subtítulo */
      .bloque-titulo {

        /* Bloque título + borde inferior */
        .borde {
          .titulo {
            font-size: 2.5em;
          }
        }
        
        .letra-chica {
          font-size: 1.3em;
        }
      }
      
      /* Responsividad bloque registro */
      .bloque-registro {
        .formulario {
          label {
            font-size: 1.2em;
          }

          input {
            font-size: 0.9em;
          }

          select {
            font-size: 0.9em;
          }

          .lesiones {
            input {
              font-size: 0.9em;
            }
          }
        }
      }
    }
  }

  /* Estilos responsivos medida Tablet */
  @media screen and (max-width: 768px) {
    /* Estilos responsivos fondo */
    & {
      flex-direction: column;
      width: 60vw;
      max-height: 80vh;
      padding: 1em;
      gap: 1em;

      /* Responsividad bloques título y registro */
      .bloque-titulo,
      .bloque-registro {
        width: 100%;
        max-width: none;
        min-height: 30vh;
        padding: 0.8em;

        /* Responsividad elementos bloque título y subtítulo */
        &.bloque-titulo {
          min-height: 25vh;
          overflow-y: hidden;

          /* Bloque título + borde inferior */
          .borde {
            .titulo {
              font-size: 1.5em;
            }
          }
          
          
          .letra-chica {
            font-size: 1em;
            width: 90%;
          }
        }

        /* Responsividad elementos bloque formulario */
        &.bloque-registro {
          max-height: 60vh;
          padding: 0 0.8em;

          .formulario {
            width: 100%;
            text-align: center;
            align-items: center;

            label {
              font-size: 1em;
            }

            .lesiones {
              align-items: center;
            }
          }
        }
      }
    }
  }

  /* Estilos responsivos medida móvil */
  @media screen and (max-width: 425px) {
    /* Responsividad fondo */
    & {
      width: 80vw;
      padding: 0.5em;

      /* Responsividad bloque título y subtitulo */
      .bloque-titulo {

        /* Bloque de título + borde inferior */
        .borde {
          .titulo{
            font-size: 1.2em;
          }
        }

        .letra-chica {
          font-size: 0.9em;
          line-height: 1em;
        }
      }
      
      /* Responsividad bloque formulario */
      .bloque-registro {
        .formulario {
          label {
            font-size: 0.9em;
          }

          input {
            font-size: 0.6em;
          }

          .btn {
            font-size: 0.9em;
            padding: 16px;
            width: 80px;
            height: 50px;
          }
        }
      }
    }
  }
}
