.fondo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 350px;
    max-width: 90vw;
    max-height: 70vh;
    background-color: #1B1F2B;
    z-index: 2000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px 10px rgba(169, 169, 172, 0.667);
    border-radius: 16px;
    padding: 2em;
    width: 60vw;
    gap: 2em;
}

.titulo {
    color: #fff;
    font-size: 3em;
}

.letra-chica {
    color: #fff;
    font-size: 1.2em;
    margin-bottom: 1em;
    text-align: center;
    width: 80%;
}

.borde {
    border-bottom: 2px solid white;
}

.bloque-titulo {
    text-align: center;
    margin-bottom: 1em;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloque-registro {
    width: 50%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.formulario {
    color: #fff;
    display: flex;
    flex-direction: column;
    input {
        padding: 1.2em;
        width: 80%;
    }
    label {
        margin: 1em;
        font-size: 1.3em;
        font-weight: bold;
    }
    select {
        padding: 1.2em;
        width: 80%;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6da67a;
    color: #fff;
    margin-top: 30px;
    padding: 20px;
    font-size: 1.8em;
    transition: all 0.3s ease;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 200px;
    height: 100px;
    &:hover {
        background-color: #497253;  
        color: gray;    
    }
    
}

.botones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 1em;
    margin-bottom: 2em;
    a {
        text-decoration: none;
    }
}

.imagen {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
        min-width: 300px;
        height: auto;
        width: 100%;
        object-fit:fill;
        margin-bottom: 1em;
    }
}

