<!-- Backdrop oscuro que cubre todo -->
<div class="backdrop" (click)="onCerrar()"></div>

<!-- Estructura del componente -->
<!-- Encerrada en un div para añadir un fondo fijo a toda la página -->
<div class="fondo">

  <!-- Bloque de título y subtítulo -->
  <div class="bloque-titulo" (click)="$event.stopPropagation()">

    <!-- Bloque de título + borde inferior -->
    <div class="borde">
      <!-- Título -->
      <h1 class="titulo">Ingresa un nuevo animal</h1>
    </div>

    <!-- Bloque de Subtítulo -->
    <div class="letra-chica">
      <p>
        Esta información ayuda a las Fundaciones de Rescate animal
        a conocer al animal antes de rescatarlo.
      </p>
      <p>* Puedes dejar campos vacíos en caso de desconocerlos</p>
    </div>
  </div>

  <!-- Bloque de registro de datos del animal -->
  <div class="bloque-registro" (click)="$event.stopPropagation()">

    <!-- Formulario de datos del animal -->
    <form class="formulario" (submit)="onIngresar($event)">
      <label for="name">Nombre del animal:</label>
<input
  type="text" [(ngModel)]="datosAnimal.nombre" name="nombre" (input)="soloLetrasNombre()" placeholder="NOMBRE" />
      <label for="edad">Edad aproximada:</label>
      <input type="number" [(ngModel)]="datosAnimal.edad" name="edad" id="edad" placeholder="???" max="30" min="0">

      <label for="personalidad">Personalidad:</label>
      <select [(ngModel)]="datosAnimal.personalidad" name="personalidad" id="personalidad">
        <option value="Desconocido">Se desconoce</option>
        <option value="Dócil">Dócil / Amable</option>
        <option value="Agresivo">Agresivo</option>
        <option value="Temeroso">Temeroso / Con miedo</option>
      </select>

      <label for="estado">Estado de salud:</label>
      <select name="estado" id="estado" [(ngModel)]="estadoSeleccionado">
        <option value="Desconocido">Se desconoce</option>
        <option value="Saludable">Saludable</option>
        <option value="Signos de Enfermedades/Lesiones">Signos de Enfermedades/Lesiones</option>
      </select>

      <div class="lesiones" *ngIf="estadoSeleccionado === 'Signos de Enfermedades/Lesiones'">
        <label for="lesiones">Presenta:</label>
        <input type="text" [(ngModel)]="datosAnimal.lesiones" name="lesiones" id="lesiones" placeholder="Lesiones o signos">
      </div>

      <label>Foto del animal:</label>
      <label for="ingreso-imagen" class="seleccionar-img">Seleccionar imagen</label>
      <input id="ingreso-imagen" class="input-img" type="file" accept=".png, .jpg, .jpeg .heic" (change)="onFotoSeleccionada($event)" />

      <!-- Preview de la foto -->
      <div class="imagen" *ngIf="imagenUrl">
        <img
          [src]="imagenUrl"
          alt="Imagen seleccionada"
        />
      </div>

      <div class="botones">
        <button type="submit" class="btn">{{ modo === 'editar' ? 'Guardar' : 'Ingresar' }}</button>
        <button type="button" class="btn" (click)="onCerrar()">Cerrar</button>
      </div>
    </form>
  </div>
</div>
