/*Estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/*Estilos para el fondo*/
.fondo-general {

    main {  /* Estilos para el contenido principal */
        padding: 20px;
        color: white;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10em;
        padding: 1em 4em;

        .contenedor {  /* Estilos para los contenedores de información */
            display: flex;
            flex-direction: column;
            height: 100%;
            max-width: 1100px;
            margin: 0 auto;
            padding: 40px 20px;
            margin-top: auto;
            color: white;
            font-size: 1.5em;

            & h2 {  /* Estilos para los subtitulos dentro del contenedor */
                text-align: center;
                margin-bottom: 1em;
            }

            & p {   /* Estilos para los párrafos dentro del contenedor */
                color: #cecece;
                margin-bottom: 1em;
                text-align: center;
                font-style: italic;
            }
        }  

        .botones {    /* Estilos para los botones */
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
            flex-wrap: wrap;
            margin-top: 3em;

            .bloqueingreso {    /* Estilo para los bloques */
                background-color: var(--verde-manu);
                padding: clamp(15px, 3vw, 20px);
                width: clamp(120px, 20vw, 180px);
                height: 90px;
                font-size: clamp(0.9em, 2vw, 1.2em);
                transition: all 0.3s ease;
                border-radius: 10px;
                color: #ffffff;
                text-decoration: none;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                cursor: pointer;
            }
                    
            .bloqueingreso:hover {   /* Estilos para los bloques al pasar el cursor */
                background-color: var(--verde-manu-hover);
                color: #1b1f2b;      
            }
        } 
    }
}

.contenedores-grid {    /* Estilos para el grid de contenedores */
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    width: 100%;
    max-width: 1100px;
}

@media screen and (min-width: 900px) {  /* Estilos para pantallas grandes */
    .contenedores-grid {
        grid-template-columns: 1fr 1fr;
        align-items: stretch;
    }
}


/* ESTILOS PARA EL FOOTER */
  .footer-general {
    margin-top: 50px;
    min-height: 15vh;
    background-color: var(--verde-manu);
    display: flex;
    justify-content: center;
    align-items: center;

    .texto-footer-general {
        color: var(--azul-oscuro-manu);
        font-weight: 600;
    }
  }
