header {
  padding: 100px;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 230px;
}

.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header-text {
  font-size: 55px;
  color: white;
  position: relative;
  text-align: center;

}

main {
  background-color: #1b1f2b;
  padding: 20px;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10em;
}

nav {
  text-align: right;
  font-size: 20px;
  margin-top: -80px;
  a {
      padding: 10px;
      color: #ffffff;
      text-decoration: none;
      transition: color 0.5s ease;
      &:hover {
          color: #1b1f2b;
      }
  }
}

footer{
  background-color: #1b1f2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}

.parrafito {
  background-color: #1b1f2b;
  width: 30%;
  font-size: 25px;
  padding: 10px;
}

.manuelito {
  font-size: 50px;
  margin-top: -60px;
}

.bloqueingreso {
  background-color: #6da67a;
  margin: 10px;
  padding: 40px;
  font-size: 35px;
  transition: color 0.5s ease;
  border-radius: 10px;
  &:hover {
      background-color: #497253;      
  }
  a {
      color: #ffffff;
      text-decoration: none;
      transition: color 0.5s ease;
      &:hover{
          color: #1b1f2b;
          
      }
  }
}

.negrita {
  font-weight: bold;
}

.marcoblanco {
  border: solid 1px #ffffff;
  padding: 20px;
  margin-bottom: 40px;
}

.fondo {
  background-color: #1b1f2b;
}