/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ESTILOS PARA EL HEADER */
header {
  padding: 7em 6.25em 20em 6.25em;
  color: #ffffff;
  text-align: center;
  position: relative;
  overflow: hidden;
  height: 230px;
  background-image: url('https://i.postimg.cc/BQwbtWsZ/foto-1-Picsart-Ai-Image-Enhancer.png'); /*Imagen de fondo del header*/
  background-position: center;
  background-size: cover;
  nav {                 /* Estilos para la navegaci칩n del header*/
    text-align: right;
    font-size: 20px;
    margin-top: -50px;
    a {
        padding: 10px;
        color: #ffffff;
        text-decoration: none;
        transition: color 0.5s ease;
        &:hover {
            color: #1b1f2b;
        }
    }
  }

  @media screen and (max-width: 1000px){  /* Estilos para el header en pantallas peque침as */
    & {
      padding-bottom: 15em;
    }
  }

  @media screen and (max-width: 768px){  /* Estilos para el header en pantallas muy peque침as */
    & {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media screen and (max-width: 460px){  /* Estilos para el header en pantallas muy muypeque침as */
    & {
      padding-bottom: 2em;
      a {
        font-size: 14px;
      }
      h1 {
        font-size: 2em;
      } 
    }
  }
}

/* Estilos para el texto del header */
.header-text {
  font-size: clamp(3em, 5vw, 3.44em);
  color: white;
  position: relative;
  text-align: center;
}


.manuelito {
  font-size: clamp(2em, 10vw, 2.4em);
  text-align: center;
}

main {
  background-color: #1b1f2b;
  padding: 20px;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10em;
}

.marcoblanco {
  border: solid 1px #ffffff;
  padding: clamp(1em, 2vw, 1.25em);
  margin-bottom: clamp(1.8em, 2vw, 2.5em);
  max-width: 300px;
  max-height: 300px;
  img {
      width: 100%;
      height: 100%;
    }
  @media screen and (max-width: 768px){
    & {
        width: 65%;
        height: fit-content;
    }
  }
  @media screen and (max-width: 460px){
    & {
        width: 50%;
        height: fit-content;
    }
  }
}

.botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloqueingreso {
  background-color: #6da67a;
  margin: 10px;
  padding: 1.3em 0;
  width: 16vw;
  max-width: 160px;
  font-size: clamp(1em, 2vw, 2em);
  transition: all 0.5s ease;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  &:hover {
      background-color: #497253;
      color: #1b1f2b;      
  }
}

.parrafito {
  background-color: #1b1f2b;
  max-width: 400px;
  width: 80%;
  font-size: clamp(1.4em, 1vw, 1.56em);
  padding: 50px 0;
}

footer{
  background-color: #1b1f2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
}

.negrita {
  font-weight: bold;
}

.fondo {
  background-color: #1b1f2b;
}