/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Animación para Ícono de flechas en header */
@keyframes subtleBounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at the original position */
  }
  50% {
    transform: translateY(-5px); /* Move up 5 pixels in the middle */
  }
}

/* Estilos del fondo de la página */

.fondo {
  background-color: var(--azul-oscuro-manu);
  height: 100%;
  min-height: 100vh;
  width: 100vw;
  font-family: 'Inter', sans-serif;

  /* ESTILOS PARA EL HEADER */
  .header-inicio {
    background-image: url("https://i.ibb.co/NMMjN8x/gato-manu-inicio-1.jpg");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px;
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 1;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
    /* Gradientes sobre la imagen */
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to left, rgba(7, 12, 30, 0.9) 25%, rgba(31, 36, 49, 0.8) 50%, rgba(91, 105, 145, 0.1));
      z-index: 2;
    }

    &::after {
      content: "";
      position: absolute;
      top: 80%;
      left: 0;
      width: 100%;
      height: 20%;
      background: linear-gradient(0deg,rgba(7, 12, 30, 1) 10%, rgba(91, 105, 145, 0.1) 70%, transparent);
      z-index: 2;
    }

    /* Contenedor para el texto */
    .contenido-header {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      text-align: right;
      padding-right: 80px;
      height: 100%;

      /* Texto del header */
      .header-texto {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 30vw;
        h1 {
          font-size: clamp(2em, 5vw, 3.6em);
        }

        p {
          font-size: clamp(0.8em, 2.5vw, 1.6em);
        }
      }

      @media screen and (max-width: 1024px) {
        & {
          padding-right: 50px;
          .header-texto {
            width: 50vw;
          }
        }
      }
    }

    /* Ícono de flechas hacia abajo */
    .icono {
      z-index: 99;
      display: flex;
      position: absolute;
      top: 85vh;
      align-self: center;
      width: 50px;
      padding-bottom: 20px;
      cursor: pointer;
      touch-action: manipulation;
      animation: subtleBounce 2s infinite ease-out; 
      svg {
        
        width: 100%;
        color: #ffffff80;
        transition: ease all 0.3s;
        &:hover {
          color: #ffffffce;
        }
      }
    }

    @media screen and (max-width: 768px) {
      & {
        align-items: center;

        .contenido-header {
          align-items: center;
          text-align: center;
          padding: 0;

          .header-texto {
            width: 70vw;
            h1 {
              width: 100%;
            }
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(7, 12, 30, 0.9) 10%, rgba(31, 36, 49, 0.8) 30%, rgba(91, 105, 145, 0.1));
          z-index: 2;
        }

        &::after {
          content: "";
          position: absolute;
          top: 60%;
          left: 0;
          width: 100%;
          height: 40%;
          background: linear-gradient(0deg,rgba(7, 12, 30, 1) 10%, rgba(91, 105, 145, 0.1) 70%, transparent);
          z-index: 2;
        }

        .icono {
          z-index: 99;
        }
      }
    }
  }

  /* Estilos para el contenido principal */

  main {
    color: white;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Menú de navegación */
    nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      width: 60vw;
      margin-top: 40px;
      font-weight: 500;
      font-size: clamp(0.8em, 2.3vw, 1.3em);
      z-index: 4;
      a {
          color: #ffffff;
          text-decoration: none;
          transition: all 0.2s ease;
          position: relative;

          /* Animación al hacer hover */
          &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            background-color: #fff;
            bottom: -5px;
            left: 0;
            transition: all 0.3s ease;
          }

          &:hover {
              &::after {
                width: 100%;
              }
          }
      }
    }

    /* Botón CTA para redirigir a pág. de donaciones */
    .enlace-donaciones {
      color: #ffffff;
      display: flex;
      align-items: center;
      gap: 10px;
      text-decoration: none;
      border: 2px solid #fff;
      padding: 4px 10px;
      border-radius: 5px;
      font-size: clamp(0.6em, 3vw, 1.2em);
      margin-top: 50px;
      box-shadow: 0 5px 10px #ffffff57;
      transition: ease all .3s;

      .icono-link {
        width: fit-content;
        svg {
          width: clamp(60%, 2.5vw, 100%);
        }
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 8px 10px #ffffff57;
      }
      
    }

    /* Imagen del mapa */
    .contenedor-img {
      width: 60vw;
      max-width: 550px;

      .img-mapa {
        width: 100%;
        margin-top: clamp(30px, 1vw, 50px);
        border: 5px solid var(--verde-manu-brillante);
        border-radius: 9px;
        cursor: pointer;
        box-shadow: 0 5px 10px var(--verde-manu);
        transition: ease all .3s;
        &:hover {
          transform: translateY(3px);
          box-shadow: 0 2px 10px var(--verde-manu);
        }
      }
    }
    

    /* Texto debajo del mapa */
    .cta-mapa {
      margin-top: 50px;
      font-size: clamp(1em, 3.5vw, 2em);
    }

    @media screen and (max-width: 915px) {
      & {
        nav {
          justify-content: center;
        }
      }
    }

    @media screen and (max-width: 425px) {
      & {
        nav {
          margin-top: 20px;
        }

        .enlace-donaciones {
          margin-top: 30px;
          padding: 2px 5px;
          box-shadow: 0 3px 7px #ffffff57;
        }

        .contenedor-img {
          width: 80vw;
          .img-mapa {
            box-shadow: 0 3px 7px var(--verde-manu);
          }
        }

        
      }
    }
  }

  /* Estilos footer */
  .footer-general {
    margin-top: 50px;
    min-height: 15vh;
    background-color: var(--verde-manu);
    display: flex;
    justify-content: center;
    align-items: center;

    .texto-footer-general {
        color: var(--azul-oscuro-manu);
        font-weight: 600;
    }
  }


}
